*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    margin-bottom: 40px;
    font-family: arial,sans-serif;
}
main{
    vertical-align: middle;
}

header ul{
    list-style: none;
    position: absolute;
    right: 20px;
}
nav{
    height: 60px;
    text-align: right;
}
nav ul{
    list-style: none;
    display: inline-block;
    padding:18px;
 }

 nav ul li{
     float: left;
     margin-top: 20px;
     padding: 15px;
 }

 .imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
 }
 .search{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .search input[type=text]{
    width:400px;
    height:30px;
    border-radius:25px;
}
footer {
    background-color: rgb(26, 24, 24);
    color: #c2c6ca;
    position: fixed;
    bottom: 0;
  }
  table{
    table-layout: fixed;
    width: 100%;
    font-size: 12px;
    margin: 10px 10px 10px 10px;
    
  }
  table tr td{
      
      padding: 0 20px;
  }
